* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(255, 230, 61);
  font-family: "Poppins", sans-serif;
}
.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: inherit;
}
h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3.4rem;
  color: rgb(255, 255, 255);
  text-shadow: black 4px 4px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.8rem;
}
img {
  width: 150px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
}
label {
  margin-bottom: 0.3rem;
}
input {
  text-align: center;
  font-weight: bold;
  line-height: 2;
  border: 2px solid black;
  margin-bottom: 0.7rem;
}

button {
  background-color: #9f8de8;
  margin-top: 0.8rem;
  font-weight: bold;
  line-height: 3;
  box-shadow: 1px 5px 1px black;
  cursor: pointer;
  text-transform: uppercase;
}

/* Results display */
.age-displayed {
  display: block;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 700;
  overflow: hidden;
  color:  #9f8de8;
}